<h2 class="row__title">State Management con React e Redux</h2>

<div class="row row--2">
  <div class="row__column">
    Durante il corso capiremo insieme le problematiche legate allo state management 
    di applicazioni complesse con React. Utilizzeremo Redux e capiremo quali vantaggi 
    ci dà in termini di testabilità e manutenibilità del codice. Inoltre faremo un 
    approfondimento sulla gestione dei side effect tramite redux-saga. <br>
    Infine faremo una carrellata su altri pattern e librerie di state management 
    e ne valuteremo insieme le differenze rispetto a Redux.
  </div>
  <div class="row__column">
    <div class="talk__speakers">
      <span class="talk__speaker-name">
        Francesco Strazzullo
      </span>
    </div>
    <p>
      <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/francescostrazzullo.jpg" alt="Francesco Strazzullo">
    </p>
    <p>
      Frontend engineer and speaker @ <a href="https://www.extrategy.net/" target="_blank">extrategy</a>. <br> 
      Also a PlayStation lover.
    </p>
    <div class="talk__twitters">
        <a href="https://twitter.com/TheStrazz86" class="talk__speaker-twitter">
          <i class="icon-twitter"></i>
          @TheStrazz86
        </a>
    </div>
  </div>
</div>
