---
title: Venue
---

<div class="limit">

  <div class="intro intro--no-height">
    <h2 class="intro__title">Location</h2>
  </div>

  <div class="row">
    <div class="row__column">
        <p class="row__text"><a href="https://www.google.it/maps/place/Via%20Monte%20Pastello,%2028%20-%2037057%20-%20San%20Giovanni%20Lupatoto/@45.4399785,10.9698404,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it"><img src="/img/phpday/map_big.jpg" alt="location"></a></p>
        <p class="row__text">The {{ site.data.conference.name }} conference will be in {{ site.data.venue.name }} in {{ site.data.conference.where_when }}.</p>
    </div>
  </div>

  <hr class="hr">

  <h2 class="row__title">Hotel agreements</h2>

  <div class="row row--1">
    <p class="row__column">
        <img src="/img/phpday/marker_venue.png"><br><strong class="row__title">Best Western CTC Hotel Verona</strong><br>
        Via Monte Pastello, 28<br>
        37057 San Giovanni Lupatoto - Verona — Italy<br>
        045 875 4111<br>
        045 8754120<br>
        <a href="http://www.ctchotelverona.com/it/location-it/come-raggiungerci.aspx">www.ctchotelverona.com</a><br>
        The conference hotel offers discounted rates on single and double bedrooms.
    </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">How to get to the conference</h2>
  
  <div class="row row--1">
    <p class="row__column">
         We will provide a free shuttle bus from the center of Verona,stopping by at the train station, from 8am to 10am and from 6pm to 8pm
    </p>
  </div>
  
  <div class="row row--3">
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_n.png"><br><strong>Route from Verona Nord Exit</strong>
      </p>
      <p class="row__text">
          Take the South Tangenziale in the direction of Legnago. Take the San Giovanni Lupatoto exit and take the 3rd exit to the roundabout. Continue along Monte Pastello.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_s.png"><br><strong>Route from Verona Sud Exit</strong>

      </p>
      <p class="row__text">
      Follow the South Tangenziale in the direction of Legnago. Take the San Giovanni Lupatoto exit and at the first roundabout take the 3rd exit and take Ca 'Nova Zampieri. At the roundabout take the 3rd exit and continue straight along Monte Pastello, you will find the hotel in front of you.<br/>
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_airport.png"><br><strong>Route from the Airport</strong>

      </p>
      <p class="row__text">
          There is an ATV Aerobus that arrives directly to Verona Porta Nuova Railway Station. The stop is off the "Arrivals" terminal. The service is available every day every 20 minutes and costs € 6.00; last race at 22.50. From Verona Porta Nuova Station, you will find our free shuttle bus.</p>
    </div>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
