<div class="container" id="sponsor">
    {% if page.cfs %}
    <!-- Start: Desc -->
    <div class="row me-row content-ct">
        <h2 class="row-title">Sponsor us!</h2>
        <p>
            A great event is made also by great sponsors, why not use the opportunity to contribute to the
            conference?
            <a href="mailto:info@grusp.org">Contact us</a> for more info on how to support us!
        </p>
        <div class="col-md-12">
            <h3 class="sponsors main">Main - only one available</h3>
            <span class="euro btn">€ 3.000</span>
            <ul class="benefit">
                <li>Your stand at the conference (2x1m)</li>
                <li>One slot for a technical talk (subject to evaluation by the organizers)</li>
                <li>Your banner on the conference website</li>
                <li>Advertisement in pre-event communications</li>
                <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                <li>Your own roll-up in the venue</li>
                <li>5 free tickets</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="sponsors gold">Gold</h3>
            <span class="euro btn">€ 1.000</span>
            <ul class="benefit">
                <li>Your banner on the conference website</li>
                <li>Advertisement in pre-event communications</li>
                <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                <li>Your own roll-up in the venue</li>
                <li>3 free tickets</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="sponsors silver">Silver</h3>
            <span class="euro btn">€ 500</span>
            <ul class="benefit">
                <li>Your banner on conference website</li>
                <li>Advertisement in pre-event communications</li>
                <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                <li>2 free tickets</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="sponsors bronze">Bronze</h3>
            <span class="euro btn">€ 300</span>
            <ul class="benefit">
                <li>Your banner on conference website</li>
                <li>Advertisement in pre-event communications</li>
                <li>1 free tickets</li>
            </ul>
        </div>
    </div>
    <!-- End: Desc -->
    {% endif %}


    <h2 class="row-title" align="center">Sponsors</h2>

    <div class="row">
        <h3 class="" align="center">Gold</h3>
        <div class="col-md-4" align="center">
            <a class="banner" href="http://www.workwave.com" title="WorkWave">
                <img src="/img/s/s_workwave.png" alt="sponsor WorkWave" class="img-responsive"/>
            </a>
        </div>
    </div>
    <hr/>

    <div class="row">
        <h3 class="" align="center">Silver</h3>
        <div class="col-md-3" align="center">
            
        </div>
        <div class="col-md-3" align="center">
            
        </div>
        <div class="col-md-3" align="center">
            
        </div>
        <div class="col-md-3" align="center">
            
        </div>
        <div class="col-md-3" align="center">
            
        </div>
        <div class="col-md-3" align="center">
            
        </div>
    </div>
    <hr/>

    <div class="row">
        <h3 class="" align="center">Bronze</h3>

        <div class="col-md-2 col-xs-6">
            
        </div>

        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.ideato.it" title="Ideato">
                <img src="/img/s/s_ideato.jpg" alt="sponsor ideato" class="img-responsive"/>
            </a>
        </div>

        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.jsday.it" title="jsday">
                <img src="/img/s/s_jsday.png" alt="sponsor jsday" class="img-responsive"/>
            </a>
        </div>

        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.jsbestpractices.it" title="PHP best practices">
                <img src="/img/s/s_jsbestpractices.png" alt="sponsor Js best practices"
                     class="img-responsive"/>
            </a>
        </div>

        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
                <img src="/img/s/s_phpbestpractices.png" alt="sponsor PHP best practices"
                     class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.phpday.it" title="phpday">
                <img src="/img/s/s_phpday.png" alt="sponsor phpday" class="img-responsive"/>
            </a>
        </div>

    </div>

    <hr/>

    <div class="row">
        <h3 class="" align="center">Media Partner</h3>

        <div class="col-md-2 col-xs-6">
            <a class="banner" href="http://www.codemotionworld.com/" title="Codemotion">
                <img src="/img/media/media_codemotion.jpg" alt="Media Partner Codemotion" class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a class="banner" href="https://www.facebook.com/groups/programmersinpadua/" title="Programmers in Padua">
                <img src="/img/media/media_pip.png" alt="Media Partner Programmers in Padua" class="img-responsive"/>
            </a>
        </div>
    </div>
    <hr/>

</div>
