<div class="container">
    <!-- Start: Desc -->
    <div class="row me-row content-ct" id="cfp">
        <h2 class="row-title">
            The <a href="{{page.cfp_url}}" target="_blank">call for papers is open</a> and will be closed on
            <strong>August 28, 2017</strong>.
        </h2>
        <div class="col-md-12 feature">
            <h3>
                Please <a href="{{page.cfp_url}}" target="_blank">send your proposals</a>. The speakers' package includes one night at
                the hotel (before the event), speakers' dinner in a nice restaurant in the city center on the evening
                before, and lunch and coffeee breaks on the day of the conference.
            </h3>
        </div>
    </div>
    <!-- End: Desc -->
</div>
