<div class="container-fluid footer hidden-xs">

  <!-- Start: lastyear -->
  <div class="row me-row content-ct" id="ed2015">
    <h2 class="row-title">2016 Edition</h2>
    <div class="col-md-8 col-md-offset-2">
      
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hiaT0twHRAM" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z0O2LDdcH1A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/p1XkHsn4jR0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YWDwgfv4kwY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qdxy3PsUXCw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BQXSGNrqr4A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yT_X6B0O4ec" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tQL76zFbxF4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jg2_GEB_Gy0" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      
      
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWK9j6ps_unnWa3MC6R8WdEjIUScCj6Oa" frameborder="0" allowfullscreen></iframe>
    -->
    </div>
  </div>
  <!-- End: last year -->
</div>