<!-- Start: Tickets -->
<a name="tickets"></a>
<div class="container-fluid tickets" id="tickets">
    <div class="row me-row content-ct">
        <h2 class="row-title">Buy Tickets</h2>
        <div class="col-md-10 col-sm-6 col-md-offset-1">
            <iframe  src="//eventbrite.com/tickets-external?eid=26067148543&ref=etckt" frameborder="0" height="400" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
<!-- End: Tickets -->
