<div class="container-fluid footer hidden-xs">

  <!-- Start: Speakers -->
  <div class="row me-row content-ct" id="ed2015">
    <h2 class="row-title">2015 Edition</h2>
    <div class="col-md-8 col-md-offset-2">
      <div class="embed-container" style="position: relative;padding-bottom: 36.25%;height: 0;overflow: hidden; max-width: 100%;"><iframe style="    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;" src="//player.vimeo.com/hubnut/album/3642120?color=44bbff&amp;background=000000&amp;slideshow=0&amp;video_title=1&amp;video_byline=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
    </div>
  </div>
  <!-- End: Speakers -->
</div>