<div class="container">
    <!-- Start: Desc -->
    <div class="row me-row content-ct">
      <h2 class="row-title">Why Is This Event Super Cool?</h2>
      <div class="col-md-4 feature">
        <span class="ti-ticket"></span>
        <h3>200 attendees in last year's edition</h3>
      </div>
      <div class="col-md-4 feature">
        <span class="ti-microphone"></span>
        <h3>20+ expert speakers</h3>
      </div>
      <div class="col-md-4 feature">
        <span class="ti-world"></span>
        <h3>People from around the globe in the most romantic city!</h3>
      </div>
    </div>
    <!-- End: Desc -->
</div>
